/* search  & explore all & most-viewed */
.grid-layout .lo-item.lo-content-type-1 .content-title,
.grid-layout .lo-item.lo-content-type-2 .content-title,
.grid-layout .lo-item.lo-content-type-3 .content-title,
.grid-layout .lo-item.lo-content-type-4 .content-title{
  border-top:none;
}
.grid-layout div.more-info{
  padding:0;
}
/*.grid-layout .lo-item.item-search .details .sub-discipline{
  margin-bottom: 5px;
}
.grid-layout  .lo-items .col-2-next .lo-item.item-search .details{
  margin-bottom: 5px;
}*/
.list-layout .lo-item.item-search .details .content-type{
  display: block;
}
.list-layout .lo-items{
    padding: 0 0 80px 0;
}
.list-layout .lo-items .row > div{
  width: 100%;
}
.list-layout .lo-items .row > div.col-wrapper{
  margin-bottom: 0;
}
.list-layout .lo-items .row  article, .list-layout .lo-items .row  a{
  border: 1px solid #D9D9D9 !important;
  margin-bottom: 20px;
  height: auto;
  min-height: 0;
}
.list-layout .lo-items .lo-item-col .img{
  margin: 0;
  height: auto;
  overflow: visible;
  float: right;
}
.list-layout .lo-items .row .content{
  padding-top: 16px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 5px;
}
.list-layout .lo-items .col-2-next .lo-item .details{
  min-height: 0px;
  padding-bottom: 6px;
  overflow: hidden;
  height: auto;
}
.list-layout .lo-item .details .sub-discipline{
  margin-bottom: 2px;
}
.list-layout .lo-item .more-info{
  margin-top: 2px;
  padding-top: 7px;
}
.list-layout .lo-item .details .content-type{
  display: inline;
  margin-right: 10px;
}
.list-layout .lo-item .details .grade-level{
  display: inline;
  margin-left: 0px;
}
.list-layout .lo-item.lo-content-type-1 .content-title,
.list-layout .lo-item.lo-content-type-2 .content-title,
.list-layout .lo-item.lo-content-type-3 .content-title,
.list-layout .lo-item.lo-content-type-4 .content-title{
  margin: 0px;
  padding: 0px;
  border: 0px none;
  float: left;
  width: 55%;
  line-height: 1;
}
.list-layout .lo-item.lo-content-type-1 .content-title h3,
.list-layout .lo-item.lo-content-type-2 .content-title h3,
.list-layout .lo-item.lo-content-type-3 .content-title h3,
.list-layout .lo-item.lo-content-type-4 .content-title h3{
  width: auto;
  float: none;
  display: inline;
  line-height: 1.3;
}
.list-layout .lo-item .content-title .content-type-icon{
    display: inline;
    float: none;
    vertical-align: middle;
}
.list-layout .lo-item .content-title .content-type-icon svg{
  vertical-align: middle;
  margin-left: 3px;
  width: 15px;
  height: 15px;
}
.list-layout .lo-info-outside .object-type{
  top: 99px;
  left: 93px;
  position: absolute;
  font-weight: normal;
}
.ribbon-list-layout,
.rate-list-layout,
.lo-info-list-layout,
.ribbon.ribbon-list-layout-small{
  display: none;
}
.list-layout .ribbon.ribbon-list-layout{
  width: 70px;
  margin: 2px 18px 0px -1px;
  float: right;
  display: inline-block;
  font-size: 10px;
}
.list-layout .rate-list-layout{
  width: 45%;
  display: inline-block;
  vertical-align: middle;
}
.list-layout .lo-info-list-layout{
  display: block;
  margin-top: 4px;
  margin-bottom: 2px;
  color: #333;
}
.list-layout  .lo-info .object-type{
  font-weight: normal;
  margin-left: 10px;
  float: left;
}
#explore-body .options .rank .select.small,
#explore-body .filters-overlay .col-headline,
#explore-body .items .filters .btn-filter,
#explore-body .filters-overlay .btn.btn-filters-overlay-close,
#explore-body .btn-filters-clear,
#explore-body .items.search-results .col-headline a,
.list-layout .lo-info-outside,
.list-layout .lo-items .row .img{
  display: none;
}
#explore-body .ajax-loading{
    background: url("../img/icons/ajax-loader.gif") no-repeat;
    display: none;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-top: -3px;
    margin-left: 5px;
}
#explore-body .items .col-headline p span.ajax-loading{
  width: 0;
  height: 0;
}

@media (max-width: 767px){
  #explore-items,
  #explore-body .options .rank p,
  #explore-body .options .grid p,
  #explore-body .options .rank .select,
  #explore-body .nav-head,
  #explore-body .btn-back,
  #explore-body .ajax-loading,
  .list-layout .col-sm-9 .selections,
  .list-layout .ribbon.ribbon-list-layout{
    display: none;
  }
  .list-layout{
    border-top: 1px solid #999;
    margin-top: 10px;
  }
  .list-layout .lo-items .row  article{
    margin-bottom: 0;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: 1px solid #999 !important;
  }
  .list-layout .col-sm-9{
    padding-left: 0;
    padding-right: 0;
  }
  .list-layout .ribbon.ribbon-list-layout-small{
    float: none;
    margin: 5px 0px 0px;
    width: 70px;
    font-size: 9px;
    display: inline-block;
  }
  .list-layout .lo-items .row .content{
    padding: 13px 20px;
  }
  .list-layout .lo-item .details .sub-discipline{
    font-size: 18px;
  }
  .list-layout .lo-items{
    padding: 0;
  }
  .list-layout .lo-info-list-layout{
    margin-top: 2px;
    margin-bottom: 0;
  }
  .list-layout .lo-item.lo-content-type-1 .content-title,
  .list-layout .lo-item.lo-content-type-2 .content-title,
  .list-layout .lo-item.lo-content-type-3 .content-title,
  .list-layout .lo-item.lo-content-type-4 .content-title,
  .list-layout .rate-list-layout{
    line-height: 1.1;
  }
  .list-layout .lo-item .content-title .content-type-icon{
    vertical-align: top;
  }
  .list-layout .lo-item .more-info{
    padding-top: 8px;
  }
  .list-layout .lo-items .col-2-next:first-child .lo-item{
    border-left:none;
  }
  .list-layout .lo-item .content-title .content-type-icon svg{
    margin-left: 0;
  }
  #explore-body .container{
    padding-left: 0;
    padding-right: 0;
  }
  #explore-body .container .items .row{
    margin-left: 0;
    margin-right: 0;
  }
  #explore-body .container .items .row.row-head{
    padding-left: 20px;
    padding-right: 20px;
  }
  #explore-body  .row.row-head .col-sm-6{
    margin-top: 0;
    padding: 0;
  }
  #explore-body .items.search-results .col-headline{
    margin-top: 0;
  }
  #explore-body .items.search-results .col-headline h3 span{
    margin-bottom: 0;
  }
  #explore-body .options .rank .select.small{
    width: 175px !important;
    color: #D42A62;
  }
  #explore-body .options .rank .select.small .btn{
    background-color: transparent;
    border: 1px solid #AAA;
    color: #D42A62;
    padding: 0px 40px 0px 10px;
    box-shadow: none;
    outline: medium none;
    height: 19px;
    float: left !important;
    font-size: 10px;
    line-height: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }
  #explore-body .options .rank .select.small,
  #explore-body .items .filters .btn-filter,
  #explore-body .filters-overlay .btn.btn-filters-overlay-close,
  #explore-body .filters-overlay.active .col-headline,
  #explore-body .btn-filters-clear,
  #explore-body .items.search-results .col-headline a,
  .items.search-results .col-headline span{
    display: inline-block;
  }
  #explore-body .filters-overlay.active > div{
    padding-left: 0;
    padding-right: 0;
  }
  #explore-body .col-headline h3{
    text-transform: uppercase;
  }
  #explore-body .col-sm-6, #explore-body .col-headline, #explore-body .col-sm-3, #explore-body .col-nav,
  #explore-body .col-sm-9 .col-items, #explore-body .col-md-4,
  #explore-body .col-no-space, #explore-body  .col-2-next,
  #explore-body .col-wrapper, #explore-body .col-headline .col-uppercase{
    min-height: 0 !important;
  }
  #explore-body .filters-overlay .col-sm-3.col-nav{
    padding-left: 0;
    padding-right: 0;
  }
  #explore-body .filters-overlay.active .col-sm-3.col-nav .col-headline,
  #explore-body .filters{
    display: block;
  }
  #explore-body .items .col-headline p span.ajax-loading{
    width: 10px !important;
    height: 10px !important;
    background-size: 10px 10px;
    margin-bottom: 0;
  }
  #explore-body .nav-grades-mobile.visible-xs-block .container{
    padding-left: 20px;
    padding-right: 20px;
  }
}