.logo {
    display: block;
    background: url('../img/logo.svg') 0 0 no-repeat;
    background-size: cover;    
    width: 120px;
    height: 24px;
    @media (min-width: @screen-sm-min) {
      width: 160px;
      height: 32px;
    }
}

a.navbar-brand, a.navbar-brand:hover{
	padding: 0;	
	font-size: 1.18em;
	font-family: 'Lato', sans-serif;
	color: #fcfafa;
	line-height: 22px;
	font-weight: 300
}

/* Tamaño iframe === contenedor */
#homevideoIframe iframe, #teiVideoIframe iframe, #publishVideoIframe2 iframe{
	position:relative;
	height:100%;
	width:100%;
	top:0;
	left:0;
}
/*Responsive videos end*/


.wrapper_captcha {
	margin-bottom: 10px;
	overflow: hidden;
}

.navbar-brand .logo {
    margin-bottom: 6px;
}


.lo-authors{
	padding: 0;
}
.lo-authors a, .lo-authors a:focus, .lo-authors a:hover{
	text-decoration: none
}
.lo-authors .wrapper{
	cursor: pointer;
	cursor: hand;
}
.lo-authors .img{
	height: 170px
}
.lo-authors .user_avatar{
	position:  absolute;
	top: 25px;
	left: 20px;
	width: 120px; /*150px;	*/
}
.lo-authors .user_avatar img{
	width: 100%;
	height: auto
}
.lo-authors .content{
	position: relative;
}
.lo-authors .text_featured{
	/*position:  absolute;
	top: 32px;
	right: 35px;
	width: 348px;	
	line-height: 24px*/
	width: 96%;
	padding: 0 0 5%;
	margin: 0 auto;	
	color: #333;
}

.lo-authors .carousel.slick-slider{
	margin-bottom: 0
}

.carousel .lo-item:hover, .lo-item:hover{
	text-decoration: none;
}

.slick-slider a.lo-item, #section-view-grid a.lo-item, .items-favorite a.lo-item{
	display: block
}
a.lo-item{display: block}

.feedback_floating_button, .feedback_floating_button:focus{
	position: fixed;
    top: 250px;
    right: -58px;
    background: #ff6900;
    color: #fff;
    padding: 11px 21px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 19px;    
    letter-spacing: 1px;
    text-decoration: none;
    transform: rotate(-90deg);
    z-index: 999;
    text-shadow: 0px 2px #585858;+
    transition: all 0.5s;
    outline: 0
}

.feedback_floating_button:hover{	
	text-decoration: none;
	color: #fff;
	background: #ffa600;
}

.testimonials-description {
  margin-top: -15px;
  padding-bottom: 30px;
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial;
  font-size: 18px;
  color: #3c3c3c;
}
/*.testimonials-description a {
  color: #3C3C3C;
}*/

.custom-intro-tei .col-left {
  padding-left: 0;            
}
.custom-intro-tei .col-left h2 {
  margin-bottom: 30px;           
}
.custom-intro-tei .col-left p {
  padding-right: 15px;
  line-height: 1.6; 
  margin-bottom: 15px;
}
.custom-intro-tei .col-right {
  padding-left: 0;
}
.custom-intro-tei .learning-more p em {
  font-size: 12px;
}
.custom-intro-tei .tei_video {
  padding: 50px 0 10px;
  margin-bottom: 5px;
}
.custom-intro-tei {
  margin-bottom: 40px;
}

.left_video{position:absolute;width:3px;height:260px;left:0;z-index:10;background:#fff}
.right_video{position:absolute;width:3px;height:260px;right:0;z-index:10;background:#fff}



.article-icon {text-align: center}
.article-icon .article-icon-1,
.article-icon .article-icon-2,
.article-icon .article-icon-3{
	width: 120px;
	padding: 0 20px 20px;
	border-bottom: 3px solid #f26921;
}
.article-icon .article-icon-2{ border-color: #92967b }
.article-icon .article-icon-3{ border-color: #32c1d1 }

.publish .article-title-1 h3{color: #f26921!important}
.publish .article-title-2 h3{color: #92967b!important}
.publish .article-title-3 h3{color: #32c1d1!important}
.publish .learning-more .btn{color: #FFF!important;}
.publish .learning-more .btn.btn_contact{background-color:#32c1d2!important}
.publish .learning-more .btn.btn_request, .publish .row_2 .learning-more .btn.btn_publish{background-color:#92967b!important}
.publish .learning-more .btn.btn_publish{background-color:#f26921!important}

.main-search .subheads h3 a{color:#32806c}

.custom-item .col-right img{
		width: 100%
	}

.row.suggestions{
	margin-bottom: 20px;
}
.row.suggestions ul > li:last-child {
	margin: 0;
}
.row.suggestions ul > li {
	display: inline-block;
	margin-right: 20px;
}

.row.suggestions ul > li > a{
	color: inherit;
	text-decoration: none;
	font-weight: bold;
}
#homevideoIframe{
	height: auto;
}
#teiVideoIframe{
	height: auto;
}

#press-page{
	padding-bottom: 200px;
}

#press-page .wrapper-press {
	color: #5f5f5f;
	padding-top: 20px;
	min-height: 300px;
}
#press-page .container .row{
	margin-bottom: 20px;
}
#press-page .container .row h2, #press-page .container .row h3{
	font-size: 18px;
	font-weight: bold;
}

#press-page .wrapper-press .row a{
	margin-bottom: 20px;
	color: #00b4cd;
	text-decoration: underline;
}

#press-page > .wrapper-press:nth-child(even){
	background-color: #00b4cd;
	color: #FFFFFF;
}

#press-page > .wrapper-press:nth-child(even) a{
	color: #FFFFFF;
}

@media (min-width: 768px){

	a.navbar-brand, a.navbar-brand:hover{
		padding: 8px 17px 1px 17px;		
	}

	#homevideoIframe{
	height: 430px;
	}	

	#teiVideoIframe{
		height: 300px;
	}

	.lo-authors .img{
		height: auto;
	}	
	.lo-authors .user_avatar{
		width: 130px;
		top: 15px;
		left: auto;
		right: 20px;
	}
	.lo-authors .content{
		position: absolute;
		bottom: initial;
		top: 112px;
	}

	.publish.publish-desktop {
		padding: 50px 0 60px 0!important;
	}

	.publish.publish-desktop .item{
		padding-right: 0;
	}
	.publish.publish-desktop .learning-more .btn{
		font-size: 18px;
		color: #fff;
		margin-top: 30px;
		font-weight: 400
	}
	.publish .article-title{text-align: center; margin: 13px 30px 0; }

	.publish .article-title h3 {
	    margin: 0 0 10px 0;
	    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial;
	    text-transform: none;
	    font-size: 30px;
	    font-weight: 700;
	}
	.publish p{
		font-size: 17px;
		font-family: "Noto Sans","Helvetica Neue",Helvetica,Arial
	}
	section.publish:first-child .row .col-sm-8{
		/*padding-left: 60px*/
	}


	.custom-item .col-left {
	    width: 70%;
    	margin-right: 2%;
    	font-weight: 700
	}
	.custom-item .col-left.col-large{
		width: 100%;   
		margin-right: 0; 	
	}
	.custom-item .col-right {
    	width: 28%;
    	font-weight: 700
	}	
	.custom-item {
		padding-top: 30px;
    	padding-bottom: 40px;
	}	
	.custom-item ul li { 
 	   	margin-bottom: 4px;
 	}
 	.custom-intro {
    	padding-bottom: 0px;
	}
	.custom-intro ul {
		float: right;
	}
	.custom-intro ul li a{
		color: #00B4CD;
	}
	.custom-intro p{
		width: 80%;
	}


}

@media (min-width: 1000px){
		
	.lo-authors .user_avatar{
		width: 150px;
		top: 25px;
		left: 20px;
		right: auto;
	}
	.lo-authors .content{		
		bottom: 22px;
		top: auto;
	}
	
	.lo-authors .text_featured{
		position:  absolute;
		top: 30px;
		right: 35px;
		width: 348px;	
		line-height: 24px
	}

	.publish.publish-desktop .col-sm-4 p{
		margin: 0 24px 0 0;

	}
	.publish.publish-desktop .col-sm-4 a{
		margin: 15px 24px 0 0;		
	}

}

@media (min-width: 1000px){

	.lo-authors .slick-list.draggable{
		height: 340px!important
	}

}

@media (max-width: 767px){
	.popover-publish {
	    left: 20px!important;
	}
}
.items .col-headline h3.custome_h1{
	font-size: 27px;
}

.container-seo  h1.title-page{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

.container-seo div.meta-description-page{
	font-family: "Noto Sans","Helvetica Neue",Helvetica,Arial;
	font-size: 12px;
	font-weight: normal;
	padding-bottom: 25px;

}

.modal-confirm .modal-dialog{
	width: auto;
}

.modal-confirm .modal-dialog .modal-body,
.modal-confirm .modal-dialog .modal-footer{
	padding: 15px;
}

.modal-confirm .modal-dialog .modal-footer{
	text-align: right;
}

.modal-confirm .modal-dialog .wrapper-hide-confirm{
	padding: 8px 0;
}

.popover-favorite .content-remove-favorite{
	display: inline-block;
	vertical-align: top;
	padding-top: 10px;
}

.container-forus{
	padding: 25px 0;
}

.container-forus h3{
	color: #f26921;
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 7px;
}
.container-forus.forus-custom-color-1{
	padding-top: 0;
}

.container-forus.forus-custom-color-2 {
	background-color: #4bccac;
}

.container-forus.forus-custom-color-4 {
	background-color: #32c1d2;
	color: #ffffff;
}

.container-forus.forus-custom-color-4 h3{
	color: #ffffff;
}

.container-forus.forus-custom-color-3 h3{
	text-transform: uppercase;
}

.container-forus.forus-custom-color-3, .container-forus.forus-custom-color-4{
	padding-bottom: 35px;
}

.container-forus .forus-description{
	padding-top: 0;
	padding-bottom: 15px;
	font-weight: 500;
}

.container-forus.forus-custom-color-2 .forus-description{
	font-style: italic;
	padding-top: 5px;
}

.container-forus.forus-custom-color-1 .forus-description span{
	font-weight: bold;
}

.container-forus .forus-actions{
	padding: 10px 0;
}

.container-forus .forus-images img{
	border: 3px solid #aaa;
	width: 380px;
}

.container-forus ul {
	list-style: none;
	padding: 10px 0 0 10px;
}

.container-forus .icon-forus{
	background: url(../img/for-us/icons.png) no-repeat;
	display: inline-block;
	vertical-align: middle;
	width: 23px;
	height: 23px;
	margin-right: 5px;
}

.container-forus .icon-forus.forus-clone{
	background-position: -18px 50%;
}

.container-forus .icon-forus.forus-sample{
	background-position: 0 50%;
}

.container-forus .forus-text{
	display: inline-block;
	width: calc(100% - 32px);
	vertical-align: middle;
}


.page-template-template-career .header{
	position: absolute;
	width: 100%;
	background-color: transparent;
}

.career-banner{
	height: 400px;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	margin-bottom: 50px;
}
.career-banner .container{
	height: 100%;
}

.career-banner .banner-text{
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
}

.career-banner .banner-text span{
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	font-size: 42px;
	color: #e26430;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial;
}

.career-banner .banner-text span.circle{
	background: #e26430;
	color: #FFF;
	width: 140px;
	height: 140px;
	border-radius: 50%;
	overflow: hidden;
	text-align: center;
	line-height: 3.3;
}

.career-content .item-career{
	padding-bottom: 25px;
    padding-top: 25px;
	border-bottom: 1px solid #cccccc;
}
.career-content h2{
	margin: 0 0 50px;
	text-transform: uppercase;
	color: #000000;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial;
}

.career-content h3{
	color: #5f5f5f;
	margin: 0px;
}

.career-form{
	overflow: hidden;
	margin-top: 50px;
}
.career-form label.half-field {
	float: left;
	width: 50%;
}

.career-form label{
	padding: 0px 10px;
	margin-bottom: 20px;
	font-weight: normal;
	width: 100%;
}

.career-form label.half-field input,
.career-form label textarea{
	padding: 10px;
	border: 1px solid #CCC;
	width: 100%;
}

.career-form label textarea{
	height: 200px;
}

.career-form form{
	margin: 0px -10px;
}

.career-form label input[type="submit"]{
	background: #00b4cd;
	padding: 10px 20px;
	color: #FFF;
	text-transform: uppercase;
	cursor: pointer;
	border: 0px;
}
.career-content a{
	color: #c90f65;
	font-weight: bold;
	text-transform: uppercase;
}

.career-content a.apply-btn{
	color: #f694a3;
	display: inline-block;
	padding: 10px 30px;
	background: #c90f65;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial;
	text-transform: uppercase;
}

/*Styles for new pages of b2b */
.header.header_b2b_page{
	background: transparent;
	position: absolute;
	width: 100%;
}
.header.header_b2b_page .navbar a{
	color: #ffffff;
}
.header.header_b2b_page .navbar .navbar-header .navbar-brand:hover{
	color: #ffffff;
}
.header.header_b2b_page .navbar a:hover{
	color:  #686868;
}
.header.header_b2b_page .navbar .navbar-nav .btn-header-search .icon{
	background-image: url("../img/b2b_pages/icon_magglass.png");
}
.section-banner_b2b{
	background-image: url("../img/b2b_pages/1_photo.png");
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;
	padding-top: 100px;
}

.section-banner_b2b .jumbotron{
	padding: 50px 0px 120px 0px;
}
.section-banner_b2b .jumbotron h1{
	font-weight: 600;
	font-size: 41px;
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 47px;
}
.extra-jumbotron{
	width: 68%;
	font-size: 18px;
	margin-top: 12px;
	margin-bottom: 22px;
}
.extra-jumbotron p:not(.lead){
	line-height: 24px;
	font-family: "Noto Sans", sans-serif;
}
.extra-jumbotron .lead{
	margin-top: 19px;
	font-family: "Noto Sans", sans-serif;
	font-size: 22px;
}
.section-banner_b2b .buttons-banner{
	color: #ffffff;
	width: 20.6%;
	padding: 9px;
	font-size: 16px;
	font-weight: 500;
	border: none;
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.section-banner_b2b .btn-pink{
	background-color: #c90f65;
}
.section-banner_b2b .btn-lightblue{
	background-color: #32c1d2;
	margin-left: 5px;
}
.section-banner_b2b .btn-pink:active{
	background-color: #c90f65;
}
.section-banner_b2b .btn-lightblue:active{
	background-color: #32c1d2;
}
.sections_b2b{
	padding: 19px 0px 25px 0px;
}
.sections_b2b .title-gray{
	color: #4d4d4d;
	font-size: 38px;
	font-weight: 600;
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.sections_b2b  .content-description{
	margin-top: 40px !important;
}
.sections_b2b  .content-description .title-lightblue{
	color:  #32c1d2;
	font-size: 30px;
	font-weight: 600;
	margin: -4px 0px 15px 0px;
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.sections_b2b  .content-description .description-b2b{
	color:  #686868;
	font-size: 15px;
	font-family: "Noto Sans", sans-serif;
}
.sections_b2b  .content-description .description-b2b strong{
	color: #2d2d2d;
	font-size: 17px;
}
.sections_b2b.bg-gray{
	background-color: #F0F0F0;
	padding: 25px 0px 50px 0px;
}
.sections_b2b .tag-h3-title{
	font-size: 30px;
}
.sections_b2b .title-orange{
	color: #F1710C;
	font-weight: 600;
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 30px;
}
.sections_b2b .title-orange.title-gray-small{
	color: #4d4d4d;
	margin-bottom: 14px;
}
.sections_b2b .extra-description{
	margin: auto;
	font-size: 16px;
	width: 84%;
	margin-top: 16px;
	font-family: "Noto Sans", sans-serif;
}
.sections_b2b.bg-lightblue{
	background-color: #32c1d2;
	padding-top: 53px;
}
.sections_b2b .title-white{
	color: #ffffff;
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 600;
}
.sections_b2b .image-approach{
	margin: auto;
}
.sections_b2b .content-image{
	margin: auto;
	margin-top: 50px !important;
	width: 87%;
}
.sections_b2b .sub-title-white{
	color: #FFFFFF;
	word-spacing: 1px;
	font-size: 21px;
	font-family: "Noto Sans", sans-serif;
}
.sections_b2b .circle-number{
	display: inline-block;
	border-radius: 100%;
	text-align: center;
	font-size: 23px;
	padding: 3px 14px;
	font-weight: 600;
}
 .sections_b2b .circle-number.circle-white{
	 background-color: #ffffff;
	 color: #33C2D2;
 }
.sections_b2b .description-lightblue{
	color: #E5FFFF;
	font-size: 15px;
}
.sections_b2b .description-lightblue.second-description{
	margin-top: -7px;
}
.sections_b2b .description-lightblue .cont-check{
	margin-top: 3px;
}
.sections_b2b .description-lightblue .mini-check,
.sections_b2b .description-lightblue .mini-check + p{
	display: inline-block;
}
.sections_b2b .description-lightblue .mini-check{
	width: 22px;
}
.sections_b2b .description-lightblue .mini-check + p{
	width: 85%;
	vertical-align: top;
	margin-left: 5px;
}
.sections_b2b.bg-lightblue .content-description{
	margin-top: 35px !important;
}
.sections_b2b .circle-number.circle-orange{
	background-color: #ff6900;
	color: #FFFFFF;
}
.sections_b2b .sub-title-gray{
	color: #373737;
	word-spacing: 1px;
	font-size: 22px;
	margin-top: -3px;
}
.sections_b2b .tle-orange{
	color: #ff6900;
}
.sections_b2b .tle-orange .circle-number.circle-orange{
	padding: 3px 11px;
}
.sections_b2b .space-content{
	padding-left: 35px;
}
.sections_b2b .second-content-gray{
	margin-top: 12px;
}
.sections_b2b .description-b2b{
	font-family: "Noto Sans", sans-serif;
	font-size: 15px;
	color: #686868;
}
.sections_b2b .description-b2b strong{
	color: #000000;
}
.sections_b2b.bg-orange{
	background-color: #ff6900;
	padding-top: 65px;
	padding-bottom: 55px;
}
.sections_b2b .circle-number.circle-white-second{
	background-color: #ffffff;
	color: #ff6900;
	padding: 3px 12px;
}
.sections_b2b .quality-header img,
.sections_b2b .quality-header img + p{
	display: inline-block;
}
.sections_b2b .quality-header{
	margin-bottom: -2px;
}
.sections_b2b .quality-header img{
	width: 40px;
	vertical-align: -8px;
}
.sections_b2b .quality-header img + p{
	font-size: 22px;
	color: #4d4d4d;
	font-weight: 600;
	margin-left: 9px;
	vertical-align: sub;
	font-family: "Noto Sans", sans-serif;
	width: 80%;
	vertical-align: middle;
}
.sections_b2b .separator-quality{
	border-top: 1px solid  #c4c4c4;
	margin: 25px 0px 23px 0px;
}
.sections_b2b.bg-white{
	background: #FFFFFF;
	padding-top: 26px;
	padding-bottom: 45px;
}
.sections_b2b .image-quality{
	margin-top: 65px !important;
}
.sections_b2b.last-section{
	padding-top: 42px;
}
.sections_b2b .sections-colors .quality-header img{
	width: 80px;
	vertical-align: top;
}
.sections_b2b .sections-colors .description-b2b{
	font-size: 14px;
	margin-bottom: 0px;
	line-height: 26px;
}
.sections_b2b .sections-colors .sub-t{
	font-size: 22px;
	font-family: "Noto Sans", sans-serif;
	font-weight: 600;
	margin-bottom: 2px;
}
.sections_b2b .sections-colors .sub-t-lightblue{
	color: #32c1d2;
}
.sections_b2b .sections-colors .sub-t-green{
	color: #53bfa4;
}
.sections_b2b .sections-colors .sub-t-orange{
	color: #ff6900;
}
.sections_b2b .sections-colors .sub-t-pink{
	color: #c90f65;
}
.sections_b2b .sections-colors .sub-t-gray{
	color: #9c9393;
}
.sections_b2b .sections-colors .separator-quality{
	border-top: 1px solid  #cfcfcf;
	margin: 18px 0px 14px 0px;
}
.sections_b2b .sections-colors .sub-content{
	display: inline-block;
	width: 85%;
	margin-left: 15px;
}
.sections_b2b.bg-green{
	background: #53bfa4;
	padding-bottom: 45px;
}
.sections_b2b .title-white-small{
	color: #FFFFFF;
	font-size: 28px;
	font-family: "Noto Sans", sans-serif;
	margin-bottom: 30px;
}
.sections_b2b .button-last{
	background: #c90f65;
	display: inline-block;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 9px 25px;
	width: 23%;
	border: none;
	font-weight: 500;
}
.sections_b2b .button-last:active{
	background: #c90f65;
}

/*style to page of schedule demo*/
.call-schedule-demo{
	padding: 0px 0px 10px 0px;
}
.call-schedule-demo .contactus-phone{
	margin-top: 25px;
}
.call-schedule-demo img,
.call-schedule-demo .call-schedule{
	display: inline-block;
}
.call-schedule-demo img{
	vertical-align: top;
	margin-right: 6px;
}
.call-schedule-demo .call-schedule,
.call-schedule-demo .call-schedule + .number-phone-sd{
	font-family: "Noto Sans", sans-serif;
	color: #4a4a4a;
	font-size: 16px;
	display: inline-block;
}
.call-schedule-demo .call-schedule + .number-phone-sd,
.call-schedule-demo .call-schedule + .number-phone-sd:hover{
	color: #00b4cd;
	text-decoration: none;
}
.banner-schedule-demo{
	background-image: url("../img/b2b_pages/banner_1.png");
	background-repeat: no-repeat;
	padding: 20px 0px;
}
.banner-schedule-demo .title-schedule-demo{
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #3c3c3c;
	width: 54%;
}
.general-section-schedule{
	padding-top: 50px;
}
.general-section-schedule .title-general-section{
	color: #00b4cd;
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 26px;
	margin-bottom: 25px;
}
.general-section-schedule .content-description-schedule{
	font-family: "Noto Sans", sans-serif;
	color: #686868;
	font-size: 15px;
	margin-bottom: 22px;
}
.general-section-schedule .trusted-schedule{
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #00b4cd;
	font-size: 18px;
	margin-top: 51px;
}
.general-section-schedule .content-icons-schedule{
	margin-top: 20px;
	margin-bottom: 26%;
}
.general-section-schedule .content-icons-schedule.icons-bigger-sd{
	display: none;
}
.general-section-schedule .content-icons-schedule .icon-schedule{
	display: inline-block;
	margin: 0px;
	margin-right: 11px;
}
.general-section-schedule .description-form-sd{
	font-family: "Noto Sans", sans-serif;
	font-size: 14px;
	color: #FFFFFF;
}
.general-section-schedule .content-form-sd{
	background: #00b4cd;
	color: #FFFFFF;
	padding: 27px;
	position: absolute;
	z-index: 1;
	top: -115px;
	margin-bottom: 120px;
}
.general-section-schedule .content-form-sd .content-fields-form-sd input,
.general-section-schedule .content-form-sd .content-fields-form-sd textarea{
	width: 100%;
	color: #3c3c3c;
}
.general-section-schedule .content-form-sd .content-fields-form-sd{
	margin-top: 25px;
}
.general-section-schedule .content-form-sd .content-fields-form-sd{
	margin-top: 25px;
}
.general-section-schedule .content-form-sd .content-fields-form-sd .field-form-sd label{
	font-family: "Noto Sans", sans-serif;
	font-size: 14px;
	margin-bottom: 6px;
}
.general-section-schedule .content-form-sd .content-fields-form-sd .field-form-sd input{
	padding: 8px;
	border: none;
}
.general-section-schedule .content-form-sd .content-fields-form-sd .field-form-sd{
	margin-bottom: 15px;
}
.general-section-schedule .content-form-sd .content-fields-form-sd .field-form-sd textarea{
	height: 58px;
	border: none;
	resize: none;
}
.general-section-schedule .content-form-sd .content-fields-form-sd .button-sd-submit{
	margin-top: 18px;
	margin-bottom: -10px;
}
.general-section-schedule .content-form-sd .content-fields-form-sd .button-sd-submit .sd-submit-btn{
	padding: 10px;
	font-family: "Noto Sans", sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	background: #c90e65;
}
.general-section-schedule .content-form-sd .content-fields-form-sd #form-schedule-demo + div.wpcf7-mail-sent-ok,
 .general-section-schedule .content-form-sd .content-fields-form-sd #form-schedule-demo + div.wpcf7-validation-errors{
	display: none !important;
}
.general-section-schedule .content-form-sd .footer-form-sd{
	text-align: center;
	font-family: "Noto Sans", sans-serif;
	font-size: 13px;
}
.general-section-schedule + footer.footer-b2b.footer-sdemo{
	position: relative;
}
/*style to Thank You page */
.section-thank-you{
	background: #f5f5f5;
	padding: 65px 0px 115px 0px;
	margin-top: 20px;
}
.section-thank-you .title-thank-you{
	margin-top: 14px;
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 35px;
	color: #2b2b2b;
	font-weight: bold;
	margin-bottom: 15px;
}
.section-thank-you .description-ty{
	font-family: "Noto Sans", sans-serif;
	margin: auto;
	font-size: 20px;
	color: #333333;
	width: 75%;
	line-height: 30px;
}
.section-thank-you .content-links-ty{
	margin-top: 40px;
}
.section-thank-you .content-links-ty .col-links{
	display: inline-block;
}
.section-thank-you .content-links-ty .col-links a,
.section-thank-you .content-links-ty .col-links a:visited{
	text-decoration: none;
}
.section-thank-you .content-links-ty .col-links a{
	display: inline-block;
	margin-right: 4px;
}
.logo-sdemo-thankyou .navbar-brand{
	padding: 8px 17px 1px 17px;
	background: #00b4cd;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	margin-top: 0px;
}
/*query media to pages of b2b, schedule demo and thank you*/
@media (max-width: 991px) {
	.banner-schedule-demo .title-schedule-demo{
		font-size: 33px;
		width: 60%;
	}
	.general-section-schedule .content-icons-schedule .icon-schedule{
		margin-right: 18px;
	}
}
@media (max-width: 767px) {
	.general-section-schedule .content-icons-schedule .icon-schedule{
		margin-right: 30px;
	}
	.general-section-schedule .content-form-sd{
		margin-bottom: 0px;
	}
	.general-section-schedule + footer.footer-b2b.footer-sdemo{
		top:auto !important;
	}
}
@media (max-width: 990px) {
	.section-banner_b2b .buttons-banner {
		width: auto;
	}
	.sections_b2b .button-last{
		width: auto;
	}
	.banner-schedule-demo{
		background-image: url("../img/b2b_pages/banner_2.png");
		background-repeat: no-repeat;
		background-size: cover;
	}
	.section-thank-you .content-links-ty .col-links{
		margin-bottom: 7px;
	}

	.general-section-schedule .content-icons-schedule{
		margin-bottom: 90px;
	}
}
@media (max-width: 770px) {
	.sections_b2b .content-image {
		text-align: center;
	}
	.sections_b2b.bg-lightblue{
		padding-top: 30px;
	}
	.sections_b2b .circle-number{
		padding: 3px 14px;
	}
	.sections_b2b .sections-colors .quality-header img{
		width: 65px;
	}
	.sections_b2b .sections-colors .sub-content{
		width: 75%;
	}
	.general-section-schedule{
		padding-top: 0px;
	}
	.general-section-schedule .content-form-sd{
		position: initial;
	}
	.general-section-schedule .col-form-sd{
		padding-left: 0px;
		padding-right: 0px;
		z-index: 1;
	}
	.general-section-schedule .content-icons-schedule{
		margin-bottom: 50px;
	}
	.general-section-schedule .col-show-sd{
		padding-top: 15px;
	}
	.section-thank-you .title-thank-you{
		margin: auto;
		width: 90%;
		margin-top: 14px;
		margin-bottom: 15px;
	}
	.section-thank-you .description-ty{
		width: 90%;
	}
	.section-thank-you .content-links-ty .col-links{
		display: block;
	}
	.general-section-schedule + footer.footer-b2b.footer-sdemo{
		top: -245px;
	}
	body.page-template-template-schedule-demo{
		margin-bottom: 0px;
	}
}
@media (max-width: 765px) {
	.banner-schedule-demo .title-schedule-demo{
		width: 63%;
		font-size: 30px;
	}
}

@media (max-width: 660px){
	.general-section-schedule .content-icons-schedule .icon-schedule{
		margin-right: 16px;
	}
}

@media (max-width: 607px) {
	.banner-schedule-demo .title-schedule-demo{
		width: 73%;
	}
	.general-section-schedule .content-icons-schedule.icons-smaller-sd{
		display: none;
	}
	.general-section-schedule .content-icons-schedule.icons-bigger-sd{
		display: block !important;
	}
	.general-section-schedule .content-icons-schedule .icon-schedule:first-child{
		margin-top: 50px;
	}
	.general-section-schedule .content-icons-schedule .icon-schedule{
		display: block;
		margin: auto;
		margin-bottom: 55px;
	}
}
@media (max-width: 600px){
	.call-schedule-demo .col-header{
		margin-top: 80px;
	}
}

@media (max-width: 480px) {
	.sections_b2b{
		padding-top: 3px;
	}
	.sections_b2b .title-gray{
		font-size: 33px;
	}
	.section-banner_b2b{
		background-image: url("../img/b2b_pages/1_photo2.png");
	}
	.section-banner_b2b .jumbotron{
		padding-top: 10px;
		padding-bottom: 60px;
	}
	.section-banner_b2b .jumbotron h1{
		font-size: 19px;
		line-height: 26px;
	}
	.extra-jumbotron{
		font-size: 15px;
		width: 100%;
	}
	.extra-jumbotron .lead{
		font-size: 16px;
	}
	.section-banner_b2b .buttons-banner {
		font-size: 14px;
	}
	.sections_b2b  .content-description{
		margin-top: 25px !important;
	}
	.sections_b2b  .content-description .title-lightblue{
		font-size: 28px;
	}
	.sections_b2b  .content-description .description-b2b{
		font-size: 14px;
	}
	.sections_b2b .title-orange{
		font-size: 27px;
	}
	.sections_b2b.bg-lightblue{
		padding-top: 10px;
	}
	.sections_b2b .title-white{
		font-size: 26px;
	}
	.sections_b2b .sub-title-white{
		font-size: 19px;
	}
	.sections_b2b .description-lightblue{
		margin-bottom: 27px;
	}
	.sections_b2b .sub-title-white{
		margin: 16px 0px;
	}
	.sections_b2b .second-content-gray{
		margin-top: 0px;
	}
	.sections_b2b .sub-title-gray{
		font-size: 19px;
		margin: 16px 0px;
	}
	.sections_b2b .image-case-second{
		margin-top: 35px;
	}
	.sections_b2b.bg-orange{
		padding-top: 24px;
		padding-bottom: 35px;
	}
	.sections_b2b.bg-white{
		padding-top: 15px;
	}
	.sections_b2b .quality-header{
		margin-bottom: 8px;
	}
	.sections_b2b .quality-header img{
		width: 35px;
	}
	.sections_b2b .quality-header img + p{
		font-size: 20px;
		width: 78%;
	}
	.sections_b2b.last-section{
		padding-top: 0px;
	}
	.sections_b2b .title-orange.title-gray-small{
		margin-bottom: 35px !important;
	}
	.sections_b2b .sections-colors .quality-header img{
		width: 55px;
	}
	.sections_b2b .sections-colors .sub-content{
		width: 67%;
	}
	.banner-schedule-demo{
		background-size: cover;
	}
	.section-thank-you .title-thank-you{
		font-size: 30px;
	}
	.section-thank-you .description-ty{
		font-size: 18px;
		line-height: 26px;
	}
	.section-thank-you .description-ty.first-description-ty{
		margin-bottom: 10px;
	}
	.section-thank-you{
		padding-top: 45px;
		padding-bottom: 50px;
	}
	.section-thank-you .content-links-ty .col-links a{
		margin-bottom: 6px;
	}
}
@media (max-width: 450px){
	.banner-schedule-demo .title-schedule-demo{
		width: auto;
	}
}


@media (max-width: 410px){
	.banner-schedule-demo{
		background-position-x: -70px;
	}
	.call-schedule-demo .container.text-right{
		text-align: center !important;
	}
	.call-schedule-demo .call-schedule{
		font-size: 14px;
	}
}

@media (min-width: 768px){
	body.page-template-template-schedule-demo{
		margin-bottom: 0px !important;
	}
}
.link-header-blog{
	margin-right: -15px;
}

.line-break-menu{
	clear: both;
	margin-top: -12px !important;
	margin-right: -20px !important;
}
.line-break-menu li.cartmenu{
	margin-top: 3px;
}
