.logo {
    display: block;
    background: url('../img/logo.svg') 0 0 no-repeat;
    background-size: cover;    
    width: 120px;
    height: 24px;
    @media (min-width: @screen-sm-min) {
      width: 160px;
      height: 32px;
    }
}

a.navbar-brand, a.navbar-brand:hover{
	padding: 0;	
	font-size: 1.18em;
	font-family: 'Lato', sans-serif;
	color: #fcfafa;
	line-height: 22px;
	font-weight: 300
}

.navbar-brand .logo {    
    margin-bottom: 6px;
}


.lo-authors{
	padding: 0;
}
.lo-authors a, .lo-authors a:focus, .lo-authors a:hover{
	text-decoration: none
}
.lo-authors .wrapper{
	cursor: pointer;
	cursor: hand;
}
.lo-authors .img{
	height: 170px
}
.lo-authors .user_avatar{
	position:  absolute;
	top: 25px;
	left: 20px;
	width: 120px; /*150px;	*/
}
.lo-authors .user_avatar img{
	width: 100%;
	height: auto
}
.lo-authors .content{
	position: relative;
}
.lo-authors .text_featured{
	/*position:  absolute;
	top: 32px;
	right: 35px;
	width: 348px;	
	line-height: 24px*/
	width: 96%;
	padding: 0 0 5%;
	margin: 0 auto;	
	color: #333;
}

.lo-authors .carousel.slick-slider{
	margin-bottom: 0
}

.carousel .lo-item:hover, .lo-item:hover{
	text-decoration: none;
}

.slick-slider a.lo-item, #section-view-grid a.lo-item, .items-favorite a.lo-item{
	display: block
}
a.lo-item{display: block}

.feedback_floating_button, .feedback_floating_button:focus{
	position: fixed;
    top: 250px;
    right: -58px;
    background: #ff6900;
    color: #fff;
    padding: 11px 21px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 19px;    
    letter-spacing: 1px;
    text-decoration: none;
    transform: rotate(-90deg);
    z-index: 999;
    text-shadow: 0px 2px #585858;+
    transition: all 0.5s;
    outline: 0
}

.feedback_floating_button:hover{	
	text-decoration: none;
	color: #fff;
	background: #ffa600;
}

.testimonials-description {
  margin-top: -15px;
  padding-bottom: 30px;
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial;
  font-size: 18px;
  color: #3c3c3c;
}
/*.testimonials-description a {
  color: #3C3C3C;
}*/

.custom-intro-tei .col-left {
  padding-left: 0;            
}
.custom-intro-tei .col-left h2 {
  margin-bottom: 30px;           
}
.custom-intro-tei .col-left p {
  padding-right: 15px;
  line-height: 1.6; 
  margin-bottom: 15px;
}
.custom-intro-tei .col-right {
  padding-left: 0;
}
.custom-intro-tei .learning-more p em {
  font-size: 12px;
}
.custom-intro-tei .tei_video {
  padding: 50px 0 10px;
  margin-bottom: 5px;
}
.custom-intro-tei {
  margin-bottom: 40px;
}

.left_video{position:absolute;width:3px;height:260px;left:0;z-index:10;background:#fff}
.right_video{position:absolute;width:3px;height:260px;right:0;z-index:10;background:#fff}



.article-icon {text-align: center}
.article-icon .article-icon-1,
.article-icon .article-icon-2,
.article-icon .article-icon-3{
	width: 120px;
	padding: 0 20px 20px;
	border-bottom: 3px solid #f26921;
}
.article-icon .article-icon-2{ border-color: #92967b }
.article-icon .article-icon-3{ border-color: #32c1d1 }

.publish .article-title-1 h1{color: #f26921!important}
.publish .article-title-2 h1{color: #92967b!important}
.publish .article-title-3 h1{color: #32c1d1!important}
.publish .learning-more .btn{color: #FFF!important;}
.publish .learning-more .btn.btn_contact{background-color:#32c1d2!important}
.publish .learning-more .btn.btn_request, .publish .row_2 .learning-more .btn.btn_publish{background-color:#92967b!important}
.publish .learning-more .btn.btn_publish{background-color:#f26921!important}

.main-search .subheads h2 a{color:#32806c}

.custom-item .col-right img{
		width: 100%
	}

.row.suggestions{
	margin-bottom: 20px;
}
.row.suggestions ul > li:last-child {
	margin: 0;
}
.row.suggestions ul > li {
	display: inline-block;
	margin-right: 20px;
}

.row.suggestions ul > li > a{
	color: inherit;
	text-decoration: none;
	font-weight: bold;
}
#homevideoIframe{
	height: auto;
}
#teiVideoIframe{
	height: auto;
}

#press-page{
	padding-bottom: 200px;
}

#press-page .wrapper-press {
	color: #5f5f5f;
	padding-top: 20px;
	min-height: 300px;
}
#press-page .container .row{
	margin-bottom: 20px;
}
#press-page .container .row h2, #press-page .container .row h3{
	font-size: 18px;
	font-weight: bold;
}

#press-page .wrapper-press .row a{
	margin-bottom: 20px;
	color: #00b4cd;
	text-decoration: underline;
}

#press-page > .wrapper-press:nth-child(even){
	background-color: #00b4cd;
	color: #FFFFFF;
}

#press-page > .wrapper-press:nth-child(even) a{
	color: #FFFFFF;
}

@media (min-width: 768px){

	a.navbar-brand, a.navbar-brand:hover{
		padding: 8px 17px 1px 17px;		
	}

	#homevideoIframe{
	height: 430px;
	}	

	#teiVideoIframe{
		height: 300px;
	}

	.lo-authors .img{
		height: auto;
	}	
	.lo-authors .user_avatar{
		width: 130px;
		top: 15px;
		left: auto;
		right: 20px;
	}
	.lo-authors .content{
		position: absolute;
		bottom: initial;
		top: 112px;
	}

	.publish.publish-desktop {
		padding: 50px 0 60px 0!important;
	}

	.publish.publish-desktop .item{
		padding-right: 0;
	}
	.publish.publish-desktop .learning-more .btn{
		font-size: 18px;
		color: #fff;
		margin-top: 30px;
		font-weight: 400
	}
	.publish .article-title{text-align: center; margin: 13px 30px 0; }

	.publish .article-title h1 {
	    margin: 0 0 10px 0;
	    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial;
	    text-transform: none;
	    font-size: 30px;
	    font-weight: 700;
	}
	.publish p{
		font-size: 17px;
		font-family: "Noto Sans","Helvetica Neue",Helvetica,Arial
	}
	section.publish:first-child .row .col-sm-8{
		/*padding-left: 60px*/
	}


	.custom-item .col-left {
	    width: 70%;
    	margin-right: 2%;
    	font-weight: 700
	}
	.custom-item .col-left.col-large{
		width: 100%;   
		margin-right: 0; 	
	}
	.custom-item .col-right {
    	width: 28%;
    	font-weight: 700
	}	
	.custom-item {
		padding-top: 30px;
    	padding-bottom: 40px;
	}	
	.custom-item ul li { 
 	   	margin-bottom: 4px;
 	}
 	.custom-intro {
    	padding-bottom: 0px;
	}
	.custom-intro ul {
		float: right;
	}
	.custom-intro ul li a{
		color: #00B4CD;
	}
	.custom-intro p{
		width: 80%;
	}


}

@media (min-width: 1000px){
		
	.lo-authors .user_avatar{
		width: 150px;
		top: 25px;
		left: 20px;
		right: auto;
	}
	.lo-authors .content{		
		bottom: 22px;
		top: auto;
	}
	
	.lo-authors .text_featured{
		position:  absolute;
		top: 30px;
		right: 35px;
		width: 348px;	
		line-height: 24px
	}

	.publish.publish-desktop .col-sm-4 p{
		margin: 0 24px 0 0;

	}
	.publish.publish-desktop .col-sm-4 a{
		margin: 15px 24px 0 0;		
	}

}

@media (min-width: 1000px){

	.lo-authors .slick-list.draggable{
		height: 340px!important
	}

}

@media (max-width: 767px){
	.popover-publish {
	    left: 20px!important;
	}
}
.items .col-headline h1.custome_h1{
	font-size: 27px;
}

.container-seo  h1.title-page{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

.container-seo div.meta-description-page{
	font-family: "Noto Sans","Helvetica Neue",Helvetica,Arial;
	font-size: 12px;
	font-weight: normal;
	padding-bottom: 25px;

}

.modal-confirm .modal-dialog{
	width: auto;
}

.modal-confirm .modal-dialog .modal-body,
.modal-confirm .modal-dialog .modal-footer{
	padding: 15px;
}

.modal-confirm .modal-dialog .modal-footer{
	text-align: right;
}

.modal-confirm .modal-dialog .wrapper-hide-confirm{
	padding: 8px 0;
}

.popover-favorite .content-remove-favorite{
	display: inline-block;
	vertical-align: top;
	padding-top: 10px;
}

.container-forus{
	padding: 25px 0;
}

.container-forus h3{
	color: #f26921;
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 7px;
}
.container-forus.forus-custom-color-1{
	padding-top: 0;
}

.container-forus.forus-custom-color-2 {
	background-color: #4bccac;
}

.container-forus.forus-custom-color-4 {
	background-color: #32c1d2;
	color: #ffffff;
}

.container-forus.forus-custom-color-4 h3{
	color: #ffffff;
}

.container-forus.forus-custom-color-3 h3{
	text-transform: uppercase;
}

.container-forus.forus-custom-color-3, .container-forus.forus-custom-color-4{
	padding-bottom: 35px;
}

.container-forus .forus-description{
	padding-top: 0;
	padding-bottom: 15px;
	font-weight: 500;
}

.container-forus.forus-custom-color-2 .forus-description{
	font-style: italic;
	padding-top: 5px;
}

.container-forus.forus-custom-color-1 .forus-description span{
	font-weight: bold;
}

.container-forus .forus-actions{
	padding: 10px 0;
}

.container-forus .forus-images img{
	border: 2px solid #aaa;
	width: 340px;
}

.container-forus ul {
	list-style: none;
	padding: 10px 0 0 10px;
}

.container-forus .icon-forus{
	background: url(../img/svg/icon-for-us.svg) no-repeat;
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 32px;
}

.container-forus .icon-forus.forus-clone{
	background-position: 0 50%;
}

.container-forus .icon-forus.forus-sample{
	background-position: -40px 50%;
}

.container-forus .forus-text{
	display: inline-block;
	width: calc(100% - 32px);
	vertical-align: middle;
}