/* New web components for 2019 B2B pages */

.ww_b2b {
    padding-top: 19px;
    padding-bottom: 25px;
}

.ww_b2b_nopad {
    padding-top: 0px;
    padding-bottom: 0px;
}

.ww_b2b h1,
h2,
h3,
h4 {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2 {
    margin-bottom: 0px;
}

.ww_b2b p {
    color: #686868;
    font-size: 14pt;
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial;
    line-height: 1.42857143;
}

.ww_b2b h5 {
    font-weight: 500;
    color: #686868;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18pt;
    padding-bottom: 25px;
    line-height: 1.42857143;
}

.ww_b2b_banner .headline h5 {
    font-weight: normal;
    color: #FFF;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16pt;
    line-height: 1.42857143;
    letter-spacing: 1px;
}

@media (max-width: 400px) {
    .ww_b2b_sm_spacer {
        height: 175px;
        width: 100%;
        background-color: #686868;
    }

    .ww_b2b_banner .headline h5 {
        font-weight: normal;
        color: #FFF;
        font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 12pt;
        line-height: 1.42857143;
        letter-spacing: 1px;
    }

    .ww_b2b_banner .btn {
        margin-bottom: 15px;
    }

}

@media (min-width: 401px) {
    .ww_b2b_sm_spacer {
        height: 75px;
        width: 100%;
        background-color: #686868;
    }
}


.ww_b2b_banner .headline a {
    margin-right: 15px;
}


.ww_b2b blockquote h5 {
    color: #686868;
}

.ww_b2b p .text-white {
    color: #FFF;
}

.ww_b2b p .text_white {
    color: #FFF;
}

.ww_b2b .text_white {
    color: #FFF;
}

.ww_b2b .text-white {
    color: #FFF;
}

.ww_b2b .bg_lightgray {
    background-color: #F0F0F0;
}

.ww_b2b.bg_lightgray {
    background-color: #F0F0F0;
}

.ww_b2b.bg_gray {
    background-color: #686868
}

.ww_b2b .bg_gray {
    background-color: #686868;
}

.bg_gray {
    background-color: #686868;
}

.ww_b2b.bg_green {
    background-color: #2fa490;
}

.ww_b2b.bg_orange {
    background-color: #ff6900;
}

.ww_b2b .bg_orange {
    background-color: #ff6900;
}

.ww_b2b_banner .container {
    padding: 0 0 0 0;
}


.ww_b2b_banner .headline {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

@media (min-width: 1200px) {
    .ww_b2b .container {
        width: 1170px;
    }

    .ww_b2b_footer .container {
        width: 1170px;
        padding: 0 0 0 0;
    }

    .ww_b2b_banner .container {
        width: 1170px;
        padding: 0 0 0 0;
    }



    .ww_b2b_banner .headline {
        padding: 0 0 0 0;
        margin: 0 0 0 0;
    }
}


@media (min-width: 1500px) {
    .ww_b2b .container {
        width: 1440px;
    }

    .ww_b2b .container-narrow {
        width: 970px;
    }

    .ww_b2b_footer .container {
        width: 1440px;
        padding: 0 0 0 0;
    }

    .ww_b2b_banner .container {
        width: 1440px;
        padding: 0 0 0 0;
    }

    .ww_b2b_banner .headline {
        padding: 0 0 0 0;
        margin: 0 0 0 0;
    }

}

@media (min-width: 1800px) {
    .ww_b2b .container {
        width: 1740px;
    }

    .ww_b2b .container-narrow {
        width: 970px;
    }

    .ww_b2b_footer .container {
        width: 1740px;
    }



    .ww_b2b_banner .container {
        width: 1740px;
        padding: 0 0 0 0;
    }


    .ww_b2b_banner .headline {
        padding: 0 0 0 0;
        margin: 0 0 0 0;
    }
}

.ww_b2b.bg_blue {
    background-color: #00abc6;
}

.ww_b2b .bg_blue {
    background-color: #00abc6;
}

.ww_b2b.bg_white {
    background-color: #FFF;
}

.ww_b2b div {
    color: #686868;
}



.ww_b2b h1 {
    font-weight: 500;
    color: #FFF;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 32pt;
    padding-top: 19px;
    padding-bottom: 25px;
    line-height: 1.42857143;
    letter-spacing: 1px;
}

.ww_b2b h2 {
    font-weight: 500;
    color: #FFF;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30pt;
    padding-top: 19px;
    line-height: 1.42857143;
    letter-spacing: 1px;
}

.ww_b2b h3 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #FFF;
    font-size: 24pt;
    color: #686868;
    line-height: 1.42857143;
    letter-spacing: 1px;
}

.ww_b2b h4 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #FFF;
    font-size: 18pt;
    color: #686868;
    line-height: 1.42857143;
}

.ww_b2b .text_white p {
    color: #FFF;
}

.text_white {
    color: #FFF;
}

.ww_b2b .btn-primary {
    color: #FFF;
}

.ww_b2b .title-blue {
    color: #00abc6;
}

.ww_b2b .title-white {
    color: #FFF;
}


.ww_b2b .title-orange {
    color: #F1710C;
}

.ww_b2b .title-lightblue {
    color: #32c1d2;
}

.ww_b2b .text-lightblue {
    color: #32c1d2;
}

.ww_b2b.ww_b2b_for_admins h2 {
    color: #32c1d2;
}

.ww_b2b .ww_b2b_medium {
    min-height: 550px;
    vertical-align: middle;
    text-align: right;
}

.ww_b2b .ww_b2b_small {
    min-height: 350px;
    vertical-align: middle;
    text-align: right;
}

.ww_b2b_txt_img img {
    margin-top: 19px;
    margin-bottom: 25px;
}


@media (min-width:768px) {
    .footer.footer-b2b {
        height: 260px
    }

}

.new-banner .container,
.new-banner .container-fluid {
    position: relative;
}

.new-banner h1,
.new-banner h2,
.new-banner h3,
.new-banner h4,
.new-banner h5,
.new-banner p {
    color: #FFF;
}

.new-banner {
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


@media (max-width: 400px) {


    .ww_b2b_sm_spacer {
        height: 200px;
    }

    .new-banner {
        background-position: right center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .new-banner h1 {
        color: #FFF;
        font-size: 16pt;
        line-height: 1.42857143;
        letter-spacing: 1px;
    }

    .new-banner h2 {
        color: #FFF;
        font-size: 14pt;
        line-height: 1.42857143;
        letter-spacing: 1px;
    }

    .new-banner h5 {
        color: #FFF;
        font-size: 12pt;
        line-height: 1.42857143;
        letter-spacing: 1px;
    }


    .new-banner {
        height: 400px;
    }

    .new-banner p {
        color: #FFF;
    }

    .new-banner .headline {
        padding-top: 120px;
    }

}

@media (min-width: 401px) {

    .new-banner .headline {
        padding-top: 120px;
    }

    .new-banner h1 {
        color: #FFF;
        font-size: 16pt;
        line-height: 1.42857143;
        letter-spacing: 1px;
    }

    .new-banner h2,
    .ww_b2b_banner .headline h2 {
        color: #FFF;
        font-size: 14pt;
        line-height: 1.42857143;
        letter-spacing: 1px;
    }

    .new-banner h5,
    .ww_b2b_banner .headline h5 {
        color: #FFF;
        font-size: 12pt;
        line-height: 1.42857143;
        letter-spacing: 1px;
    }

    .ww_b2b_banner .headline h5 .new-banner {
        height: 400px;
    }

}



@media (min-width: 768px) {
    .new-banner {
        height: 600px;
    }

    .new-banner .headline {
        padding-top: 200px;
    }

    .new-banner .headline h1 {
        font-size: 20pt;
    }

    .new-banner .headline h1 {
        font-size: 20pt;
    }

    .new-banner .headline h5 {
        font-size: 14pt;
    }
}

@media (min-width: 992px) {
    .new-banner {
        height: 600px;
    }

    .new-banner .headline {
        padding-top: 180px;
    }

    .new-banner .headline h1 {
        font-size: 24pt;
    }

    .new-banner .headline h2 {
        font-size: 24pt;
    }

    .new-banner .headline h5 {
        font-size: 16pt;
    }
}

@media (min-width: 1200px) {
    .new-banner {
        height: 700px;
    }

    .new-banner .headline {
        padding-top: 280px;
    }

    .new-banner .headline h1 {
        font-size: 32pt;
    }

    .new-banner .headline h2 {
        font-size: 32pt;
    }

    .new-banner .headline h5 {
        font-size: 16pt;
    }
}

@media (min-width: 1500px) {
    .new-banner {
        height: 700px;
    }

    .new-banner .headline {
        padding-top: 300px;
    }

    .new-banner .headline h1 {
        font-size: 32pt;
    }

    .new-banner .headline h2 {
        font-size: 32pt;
    }

    .new-banner .headline h5 {
        font-size: 16pt;
    }
}

@media (min-width: 1800px) {
    .new-banner {
        height: 800px;
    }

    .new-banner .headline {
        padding-top: 400px;
    }

    .new-banner .headline h1 {
        font-size: 32pt;
    }

    .new-banner .headline h5 {
        font-size: 16pt;
    }
}


.ds-banner {
    background-image: url("/wp-content/themes/wisewire/img/b2b_pages/digitalskills/shutterstock_551937673-ds-banner-lg");
    background-position: center top;
}

.cl-banner {
    background-image: url("/wp-content/themes/wisewire/img/b2b_pages/corp-learning/shutterstock_170210270-cl-banner-lg.jpg");
}

.teachers-banner {
    background-image: url("/wp-content/themes/wisewire/img/b2b_pages/for-teachers/shutterstock_443669716for-teachers-banner-lg");
}

.for-admins-banner {
    background-image: url("/wp-content/themes/wisewire/img/b2b_pages/for-admins/shutterstock_778983088-for-admins-banner-lg.jpg");
}

@media(min-width: 768px) {

    .navbar .navbar-small li,
    .navbar .navbar-small li a,
    .navbar .navbar-small a {
        font-size: 8pt;
    }
}

@media(min-width: 992px) {

    .navbar .navbar-small li,
    .navbar .navbar-small li a,
    .navbar .navbar-small a {
        font-size: 7pt;
    }
}


.navbar .navbar-small {
    margin-top: 10px;
    /*    margin-right: -30px; */
}


/*
.navbar .navbar-lower {
    margin-top: -30px;
}
*/


@media (max-size: 991px) {

    .cartmenu .wpmenucart-icon-shopping-cart-0 {
        font-size: 12pt;
    }
}

@media (min-size: 992px) {

    .cartmenu .wpmenucart-icon-shopping-cart-0 {
        font-size: 8pt;
    }

    div.wpmenucart-shortcode {
        margin-top: 0px;
    }
}


.new-banner .mask {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}




.opm-banner {
    background-image: url("/wp-content/themes/wisewire/img/b2b_pages/opm/shutterstock_571214209-opm-banner-lg-1.jpg");
}

.refer-admin-banner {
    background-image: url("/wp-content/themes/wisewire/img/b2b_pages/for-admins/shutterstock_1104967040-refer-admin-banner-lg.jpg");
    background-position: center top;
}

.ft-footer {
    background-image: url("/wp-content/themes/wisewire/img/b2b_pages/opm/shutterstock_650294620-teachers-bottom-banner.jpg");
}


@media (max-width: 400px) {
    .ww_b2b_testimonial {
        width: 95%;
    }
}

@media (min-width: 401px) and (max-width: 991px) {
    .ww_b2b_testimonial {
        width: 80%;
    }


}

@media (min-width: 992px) {
    .ww_b2b_testimonial {
        width: 66%;
    }
}

.ww_b2b_testimonial .testimonial-row-1 {
    margin-bottom: 45px;
}

/* Logo slider spacing */
.logo-slider-img {
    margin-left: 30px;
    margin-right: 30px;
}

@media (min-width: 1440px) {

    /* Logo slider spacing */
    .logo-slider-img {
        margin-left: 45px;
        margin-right: 45px;
    }
}

.ww_b2b blockquote {
    border-style: none;
}

.ww_b2b blockquote p {
    color: #686868;
    font-size: 12pt;
    font-style: normal;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.1;
}

.ww_b2b blockquote h5 {
    color: #686868;
    font-size: 20pt;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 15px;
    padding-bottom: 0px;
    line-height: 1.4;
}

@media (max-width: 768px) {
    .ww_b2b blockquote h5 {
        font-size: 14pt;
    }
}

/* For Administrators */
.ww_b2b .marketplace-categories h4 {
    color: #32c1d2;

}

.ww_b2b .screenshot {
    border: 1px solid;
    max-height: 250px;
    border-color: #CCC;
}
