.icon-arrow-next {
	background: url(img/svg/sprites.svg) 26.074257425742573% 35.714285714285715% no-repeat;
}

.icon-arrow-next-dims {
	width: 42px;
	height: 42px;
}

.icon-arrow-next-active {
	background: url(img/svg/sprites.svg) 58.25247524752475% 23.076923076923077% no-repeat;
}

.icon-arrow-next-active-dims {
	width: 42px;
	height: 42px;
}

.icon-arrow-previous {
	background: url(img/svg/sprites.svg) 0 61.56043956043956% no-repeat;
}

.icon-arrow-previous-dims {
	width: 42px;
	height: 42px;
}

.icon-arrow-previous-active {
	background: url(img/svg/sprites.svg) 58.25247524752475% 0 no-repeat;
}

.icon-arrow-previous-active-dims {
	width: 42px;
	height: 42px;
}

.icon-arrow-thin-right {
	background: url(img/svg/sprites.svg) 96.81007617728532% 17.613386173491854% no-repeat;
}

.icon-arrow-thin-right-dims {
	width: 12.96px;
	height: 19.61px;
}

.icon-arrow-up-black {
	background: url(img/svg/sprites.svg) 99.63028953229399% 26.20270461291995% no-repeat;
}

.icon-arrow-up-black-dims {
	width: 19.5px;
	height: 11.77px;
}

.icon-arrow-up-white {
	background: url(img/svg/sprites.svg) 99.63028953229399% 31.748574659567453% no-repeat;
}

.icon-arrow-up-white-dims {
	width: 19.5px;
	height: 11.77px;
}

.icon-btn-grid {
	background: url(img/svg/sprites.svg) 88.32718894009217% 75.71573604060913% no-repeat;
}

.icon-btn-grid-dims {
	width: 27px;
	height: 27px;
}

.icon-btn-grid-active {
	background: url(img/svg/sprites.svg) 54.225806451612904% 42.63959390862944% no-repeat;
}

.icon-btn-grid-active-dims {
	width: 27px;
	height: 27px;
}

.icon-btn-list {
	background: url(img/svg/sprites.svg) 88.32718894009217% 62.01015228426396% no-repeat;
}

.icon-btn-list-dims {
	width: 27px;
	height: 27px;
}

.icon-btn-list-active {
	background: url(img/svg/sprites.svg) 88.32718894009217% 48.30456852791878% no-repeat;
}

.icon-btn-list-active-dims {
	width: 27px;
	height: 27px;
}

.icon-close {
	background: url(img/svg/sprites.svg) 21.75982592139263% 92.74639812552968% no-repeat;
}

.icon-close-dims {
	width: 23.41px;
	height: 23.41px;
}

.icon-close-box {
	background: url(img/svg/sprites.svg) 20.28985507246377% 59.9144385026738% no-repeat;
}

.icon-close-box-dims {
	width: 37px;
	height: 37px;
}

.icon-close-box-black {
	background: url(img/svg/sprites.svg) 38.16425120772947% 59.9144385026738% no-repeat;
}

.icon-close-box-black-dims {
	width: 37px;
	height: 37px;
}

.icon-close-box-black-mobile {
	background: url(img/svg/sprites.svg) 75.31603773584906% 0 no-repeat;
}

.icon-close-box-black-mobile-dims {
	width: 32px;
	height: 32px;
}

.icon-close-box-mobile {
	background: url(img/svg/sprites.svg) 75.31603773584906% 16.666666666666668% no-repeat;
}

.icon-close-box-mobile-dims {
	width: 32px;
	height: 32px;
}

.icon-close-filter {
	background: url(img/svg/sprites.svg) 45.26447385437772% 22.1918195971128% no-repeat;
}

.icon-close-filter-dims {
	width: 12.03px;
	height: 12.03px;
}

.icon-close-menu-mobile {
	background: url(img/svg/sprites.svg) 98.70261683067825% 73.5249987899908% no-repeat;
}

.icon-close-menu-mobile-dims {
	width: 17.39px;
	height: 17.39px;
}

.icon-close-small {
	background: url(img/svg/sprites.svg) 89.16666666666667% 82.13736186879284% no-repeat;
}

.icon-close-small-dims {
	width: 10px;
	height: 9.53px;
}

.icon-close-small-black {
	background: url(img/svg/sprites.svg) 63.24786324786325% 52.24040658367137% no-repeat;
}

.icon-close-small-black-dims {
	width: 10px;
	height: 9.53px;
}

.icon-eye {
	background: url(img/svg/sprites.svg) 84.42868469738349% 82.25625700410907% no-repeat;
}

.icon-eye-dims {
	width: 16.98px;
	height: 9.84px;
}

.icon-eye-big {
	background: url(img/svg/sprites.svg) 99.25449301087198% 49.66449251560226% no-repeat;
}

.icon-eye-big-dims {
	width: 18.65px;
	height: 10.89px;
}

.icon-eye-big-black {
	background: url(img/svg/sprites.svg) 99.25449301087198% 44.55445544554454% no-repeat;
}

.icon-eye-big-black-dims {
	width: 18.65px;
	height: 10.89px;
}

.icon-eye-black {
	background: url(img/svg/sprites.svg) 40.2651748744604% 86.86963018304071% no-repeat;
}

.icon-eye-black-dims {
	width: 16.98px;
	height: 9.84px;
}

.icon-eye-xl {
	background: url(img/svg/sprites.svg) 90.38905918415468% 15.50988755331524% no-repeat;
}

.icon-eye-xl-dims {
	width: 31.95px;
	height: 17.68px;
}

.icon-eye-xl-black {
	background: url(img/svg/sprites.svg) 90.38905918415468% 24.079100426521908% no-repeat;
}

.icon-eye-xl-black-dims {
	width: 31.95px;
	height: 17.68px;
}

.icon-icon-customize {
	background: url(img/svg/sprites.svg) 0 0 no-repeat;
}

.icon-icon-customize-dims {
	width: 65px;
	height: 65px;
}

.icon-menu {
	background: url(img/svg/sprites.svg) 99.4088888888889% 38.01633045148895% no-repeat;
}

.icon-menu-dims {
	width: 19px;
	height: 15.8px;
}

.icon-quote-blue {
	background: url(img/svg/sprites.svg) 37.94642857142857% 22.615384615384617% no-repeat;
}

.icon-quote-blue-dims {
	width: 20px;
	height: 16px;
}

.icon-quote-green {
	background: url(img/svg/sprites.svg) 29.017857142857142% 22.615384615384617% no-repeat;
}

.icon-quote-green-dims {
	width: 20px;
	height: 16px;
}

.icon-quote-orange {
	background: url(img/svg/sprites.svg) 31.879464285714285% 89.4423076923077% no-repeat;
}

.icon-quote-orange-dims {
	width: 20px;
	height: 16px;
}

.icon-search-black {
	background: url(img/svg/sprites.svg) 73.39449541284404% 77.79797979797979% no-repeat;
}

.icon-search-black-dims {
	width: 26px;
	height: 26px;
}

.icon-search-black-mobile {
	background: url(img/svg/sprites.svg) 98.5330396475771% 81.78743961352657% no-repeat;
}

.icon-search-black-mobile-dims {
	width: 17px;
	height: 17px;
}

.icon-search-grey {
	background: url(img/svg/sprites.svg) 0 93.02% no-repeat;
}

.icon-search-grey-dims {
	width: 24px;
	height: 24px;
}

.icon-search-grey-bold {
	background: url(img/svg/sprites.svg) 73.24311926605506% 64.64646464646465% no-repeat;
}

.icon-search-grey-bold-dims {
	width: 26px;
	height: 26px;
}

.icon-search-mobile {
	background: url(img/svg/sprites.svg) 98.5330396475771% 90% no-repeat;
}

.icon-search-mobile-dims {
	width: 17px;
	height: 17px;
}

.icon-search-purple {
	background: url(img/svg/sprites.svg) 88.69504858861639% 34.33231396534149% no-repeat;
}

.icon-search-purple-dims {
	width: 27.9px;
	height: 27.8px;
}

.icon-search-purple-mobile {
	background: url(img/svg/sprites.svg) 42.53493283012086% 32.07500616827041% no-repeat;
}

.icon-search-purple-mobile-dims {
	width: 21.43px;
	height: 21.35px;
}

.icon-search-white {
	background: url(img/svg/sprites.svg) 10.909090909090908% 93.02% no-repeat;
}

.icon-search-white-dims {
	width: 24px;
	height: 24px;
}

.icon-social-fb {
	background: url(img/svg/sprites.svg) 75.31603773584906% 50% no-repeat;
}

.icon-social-fb-dims {
	width: 32px;
	height: 32px;
}

.icon-social-fb-mobile {
	background: url(img/svg/sprites.svg) 30.18867924528302% 80.22916666666667% no-repeat;
}

.icon-social-fb-mobile-dims {
	width: 32px;
	height: 32px;
}

.icon-social-fb-white {
	background: url(img/svg/sprites.svg) 75.31603773584906% 33.333333333333336% no-repeat;
}

.icon-social-fb-white-dims {
	width: 32px;
	height: 32px;
}

.icon-social-linkedin {
	background: url(img/svg/sprites.svg) 90.41037735849056% 0 no-repeat;
}

.icon-social-linkedin-dims {
	width: 32px;
	height: 32px;
}

.icon-social-linkedin-mobile {
	background: url(img/svg/sprites.svg) 60.37735849056604% 80.22916666666667% no-repeat;
}

.icon-social-linkedin-mobile-dims {
	width: 32px;
	height: 32px;
}

.icon-social-linkedin-white {
	background: url(img/svg/sprites.svg) 45.283018867924525% 80.22916666666667% no-repeat;
}

.icon-social-linkedin-white-dims {
	width: 32px;
	height: 32px;
}

.icon-social-twitter {
	background: url(img/svg/sprites.svg) 54.716981132075475% 58.354166666666664% no-repeat;
}

.icon-social-twitter-dims {
	width: 32px;
	height: 32px;
}

.icon-social-twitter-mobile {
	background: url(img/svg/sprites.svg) 15.09433962264151% 80.22916666666667% no-repeat;
}

.icon-social-twitter-mobile-dims {
	width: 32px;
	height: 32px;
}

.icon-social-twitter-white {
	background: url(img/svg/sprites.svg) 0 80.22916666666667% no-repeat;
}

.icon-social-twitter-white-dims {
	width: 32px;
	height: 32px;
}

.icon-star-big {
	background: url(img/svg/sprites.svg) 0 36.73146473779385% no-repeat;
}

.icon-star-big-dims {
	width: 52.67px;
	height: 47.04px;
}

.icon-star-big-active {
	background: url(img/svg/sprites.svg) 33.972717294726394% 0 no-repeat;
}

.icon-star-big-active-dims {
	width: 52.67px;
	height: 47.04px;
}

.icon-star-default {
	background: url(img/svg/sprites.svg) 99.85267857142857% 8.737864077669903% no-repeat;
}

.icon-star-default-dims {
	width: 20px;
	height: 18px;
}

.icon-star-default-active {
	background: url(img/svg/sprites.svg) 99.85267857142857% 0 no-repeat;
}

.icon-star-default-active-dims {
	width: 20px;
	height: 18px;
}

.icon-star-default-half {
	background: url(img/svg/sprites.svg) 42.263392857142854% 41.91747572815534% no-repeat;
}

.icon-star-default-half-dims {
	width: 20px;
	height: 18px;
}

.icon-star-small {
	background: url(img/svg/sprites.svg) 62.900000000000006% 39.81042654028436% no-repeat;
}

.icon-star-small-dims {
	width: 14px;
	height: 13px;
}

.icon-star-small-active {
	background: url(img/svg/sprites.svg) 62.900000000000006% 45.97156398104266% no-repeat;
}

.icon-star-small-active-dims {
	width: 14px;
	height: 13px;
}

.icon-star-small-half {
	background: url(img/svg/sprites.svg) 0 99.54502369668246% no-repeat;
}

.icon-star-small-half-dims {
	width: 14px;
	height: 13px;
}

.icon-user {
	background: url(img/svg/sprites.svg) 97.0832067364035% 65.07436655200814% no-repeat;
}

.icon-user-dims {
	width: 13.61px;
	height: 17.59px;
}

.icon-user-black {
	background: url(img/svg/sprites.svg) 97.0832067364035% 56.552492611792054% no-repeat;
}

.icon-user-black-dims {
	width: 13.61px;
	height: 17.59px;
}

