@font-face {
  font-family: 'Museo-500';
  src: url('Museo500-Regular.otf');
}

html, body, div, span, ul, li, ol, h1, h2, h3, h4. h5, h6, p, section, article, header, footer, nav{
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
   
    outline: none;
}

body{
	font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0;
    line-height: 1;
    color: #333;
    background-color: #f4f4f4;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}

a, a > span, a b {
    text-decoration: none;
    color: #009fcf;
}

b {
    font-weight: bold;
}

.page {
    padding-bottom: 35px;
    background-color: #fff;
    min-height: 1250px;
    border: 1px solid #bdc3c7;
    position: relative;
    width: 100%;
    max-width: 1020px;
    margin: 80px auto 20px!important;
     box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.page, 
.layout-container{
	width: 100%;
    max-width: 1020px;
    margin: 0 auto;
}

.home.help {
    padding-bottom: 40px;
}

section.content {
    min-height: 500px;
}

.content, .padded-content {
    padding: 0 33px;
    position: relative;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    font-weight: normal;
}
.section-title {
    font-family: 'Museo-500';
    color: #000000;
    font-size: 20px;
    margin-top: 40px;
}

.home.help h1.section-title {
    margin-bottom: 22px;
}

ul {
    padding: 0;
}
.home.help ul.general-navigation {
    padding: 0 !important;
    margin: 0 !important;
    list-style-type: none !important;
}
.home.help ul {
    list-style-type: disc;
    margin: 0 0 22px 20px;
}
.home.help ul > li, .home.help ol > li {
    font-size: 15px;
    line-height: 22px;
}
.home.help ul.general-navigation > li {
    margin: 0 !important;    
    border: 0;
    font-size: 100%;
    font: inherit;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: none;
    padding: 2px 15px 8px 12px;
}

.home.help .general-navigation > li a {
    font-size: 16px;
    color: #009fcf;
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-decoration: none;
}

.home.help .section-division {
    height: 40px;
}

.home.help h2 {
    font-size: 20px;
    color: #333333;
    font-family: 'Museo-500';
    font-weight: normal;
    border-bottom: 1px solid #e3e3e3;
    padding: 0 10px 8px;
    margin: 12px 0 18px 0;
    line-height: 25px;
}

.home.help h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
}

.home p {
    font-family: Museo500;
    font-size: 22px;
    line-height: 32px;
}

section.template p {
    padding: 20px 10px 5px 10px;
}

.home.help p {
    text-align: left;
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 22px;
    padding: 6px 0 0 0 !important;
}

.home.help ol.special {
    counter-reset: li;
    margin-left: 0;
    padding-left: 0;
}
.home.help ol.special > li {
    position: relative;
    margin: 0 0 6px 22px;
    padding: 4px 8px;
    list-style: none;
}
.home.help ol.special > li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    top: 5px;
    left: -22px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 22px;
    height: 22px;
    -webkit-border-radius: 0.9em;
    -moz-border-radius: 0.9em;
    border-radius: 0.9em;
    padding: 1px;
    color: #fff;
    background: #ee4e2d;
    font-family: Museo500,courier-new,serif;
    text-align: center;
    font-size: 14px;
}

img {
    border: 0;
}
.home.help img {
    margin: 18px 0 22px;
}
.home.help img, .home.help iframe {
    max-width: 100%;
}

.table_questions{
	border:1px solid #000;
	width: 100%;
	max-width: 550px;
	line-height: 27px;
	font-weight: 700
}
.table_questions td{
	padding:4px 0 4px 15px;
	vertical-align: top
}
ul.badges{
	text-align: center;
}

ul.badges li{
	display: inline-block;
	list-style: none;
	margin: 8px 13px 0;
}
ul.badges li img, ul.badges li b{
	display: inline-block;
	vertical-align: top;	
}
ul.badges li img{
	margin: 0!important;
}
ul.badges li b{
	margin-top: 6px;
	width: 100px;
	text-align: left
}


header.global {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #253646;
    height: 56px;
    line-height: 56px;
    z-index: 12000;
    min-width: 1020px;
}

header.global nav a.ww-mini-logo {
    width: 175px;
    height: 40px;
    background: url('../img/logo.png') no-repeat;
    display: block;
    float: left;
    margin: 8px 42px 0 4px;
    text-indent: -9999px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

header.global nav {
    width: 100%;
    max-width: 1020px;
    margin:  auto;
}